---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 200
SortIncludes: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: Empty